<h1>All the People</h1>
<table>
  <thead>
    <tr>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <% @person.each do |person| %>
      <tr>
        <td><%= link_to person.first_name.to_s + " " + person.last_name.to_s, person %></td>
        <td><%= link_to "Edit", edit_person_path(person) %></td>
        <td><%= link_to "Delete", person, method: :Delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "Create New Person", new_person_path %></p>
